extends ../global
block content
	.grid-container: .grid-x.align-center: .cell.small-12.tb-pad-45: .round-box.red-bg
		//- Section Header (Top section)
		.grid-x.sh-news
			.cell.hide-for-small-only.medium-2.large-3.section-separator.ss-left
			.cell.small-12.medium-8.large-6.section-heading
				h1.red News &amp; Events
			.cell.hide-for-small-only.medium-2.large-3.section-separator.ss-right
		
		.grid-x: .cell.text-center
			p.archive-text Viewing archived posts. To view new posts, <a id="back-to-news" href='/news'>click here</a>.

		//- Section Content
		.grid-x.grid-padding-x
			each postdata in data.posts.results
				.cell.small-12.medium-6.large-4.tb-pad-30
					+post-preview(postdata)
	

block footer_js
	script(type="text/javascript").
		$(function(){
			
			function makeArtistsCircularAgain(){
				var $images = $(".post-preview-image")
				$.each($images, function(){
					$(this).css('height', $(this).width())
				})
			}
			
			// Run onload and on Resize
			makeArtistsCircularAgain();
			$(window).resize(function(){
				makeArtistsCircularAgain();
			})
		})
